button{
    height: 100px;
    background-color: white;
    color:black;
    font-weight: 600;
    text-align: center;
    height: 50px;
    width: 150px;
    border:none;
    margin: 10px;
    border-radius: 10%;
    border: 1px solid black;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    }